<div class="container">
  <div class="row mb-3">
      <div class="col-12">
        <h1>Editar cliente</h1>
      </div>
<%= render "form", client: @client %>

<br>

<div>
  <%= link_to "Regresar a clientes", client_path %>
</div>
